html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}



button{
  background-color: #3f13b0;
  color: white;
}