.navbar {
  background-color: 3F13B0;
  padding: 15px 30px;
  color: #2a0ac9;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-weight: bold;
      font-size: 20px;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;

      li a {
        color: #2a0ac9;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;
        cursor : pointer;
        
        &:hover {
          color: #d60808;
        }
      }
    }
  }
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-image: url('/assets/fondo.png');

//  background: linear-gradient(to bottom right, #ecf0f1, #dfe6e9);
  min-height: calc(100vh - 70px); // resta navbar

  .bienvenida {
    max-width: 500px;
    margin: 0 auto 40px auto; 
    padding: 30px 40px;
    background-color: #f3f3f3;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    text-align: center;
    animation: fadeInUp 1.2s ease-out;

    p {
      font-size: 16px;
      margin-top: 10px;
    } 
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.no-habilitada {
  background-color: white;
  max-width: 700px;
  padding: 60px 70px;
  border-radius: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: #2c3e50;
  text-align: center;
  font-size: 26px;
  font-weight: 600;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}




:host {
  display: block;
  min-height: 100vh;
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}